Django==1.7
PyYAML==3.11
argparse==1.2.1
django-allauth==0.18.0
django-guardian==1.2.4
django-suit==0.2.11
easy-thumbnails==2.1
gunicorn==19.1.1
html2text==2014.9.25
oauthlib==0.6.3
python-openid==2.2.5
requests==2.4.1
requests-oauthlib==0.4.1
wsgiref==0.1.2
