{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section id="registro">
  <div class="content">

	<form method="post" action="{% url 'account_logout' %}" class="login">
      <p>¿Está seguro que desea salir?</p>
	  {% csrf_token %}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
	  {% endif %}
	  <button type="submit">{% trans 'Sign Out' %}</button>
	</form>

  </div>
</section>

{% endblock %}
