{% extends "mi_cooperativa/base.html" %}
{% block inter %}
<section id="form_acta-consejo">
  <div class="content">
    <div class="help boxes-inaes">
      <div class="box box-acta-consejo active">
        <h5>Primer acta del consejo</h5>
        <h6>Distribución de cargos</h6><p>En este mismo acto, se realiza la Asamblea
Constitutiva y el estatuto de la cooperadora.</p>
<p>Es necesario que se encuentren todos los socios.</p>
<p>Al finalizar la asamblea, se debe imprimir y firmar por 
todos los socios.</p>
<p><a href="http://www.inaes.com.ar">Más información</a> </p>

      </div>
    </div>
    <div class="panel">
      <form action="{% url 'index' %}">
        <h3>01. Inicio de la reunión del consejo de administración</h3>
        <p>
          <label for="hora_inicio">Hora de inicio</label>
          <input type="date" id="hora_inicio" name="hora_inicio"/>
        </p>
        <hr>
        <h3>02. Elección de cargos</h3>
        <p>Se deben distribuir los cargos</p>
        <h5>Presidente</h5>
        <p>
          <input type="checkbox" id="socios_curso_Ariel Federico Asus" name="Ariel Federico Asus" value="Ariel Federico Asus"/>
          <label for="socios_curso_Ariel Federico Asus">Ariel Federico Asus</label>
          <input type="checkbox" id="socios_curso_Ariel Ramirez" name="Ariel Ramirez" value="Ariel Ramirez"/>
          <label for="socios_curso_Ariel Ramirez">Ariel Ramirez</label>
          <input type="checkbox" id="socios_curso_Jorge Ibañez" name="Jorge Ibañez" value="Jorge Ibañez"/>
          <label for="socios_curso_Jorge Ibañez">Jorge Ibañez</label>
        </p>
        <h5>Secretario</h5>
        <p>
          <input type="checkbox" id="socios_curso_Ariel Federico Asus" name="Ariel Federico Asus" value="Ariel Federico Asus"/>
          <label for="socios_curso_Ariel Federico Asus">Ariel Federico Asus</label>
          <input type="checkbox" id="socios_curso_Ariel Ramirez" name="Ariel Ramirez" value="Ariel Ramirez"/>
          <label for="socios_curso_Ariel Ramirez">Ariel Ramirez</label>
          <input type="checkbox" id="socios_curso_Jorge Ibañez" name="Jorge Ibañez" value="Jorge Ibañez"/>
          <label for="socios_curso_Jorge Ibañez">Jorge Ibañez</label>
        </p>
        <h5>Tesorero</h5>
        <p>
          <input type="checkbox" id="socios_curso_Ariel Federico Asus" name="Ariel Federico Asus" value="Ariel Federico Asus"/>
          <label for="socios_curso_Ariel Federico Asus">Ariel Federico Asus</label>
          <input type="checkbox" id="socios_curso_Ariel Ramirez" name="Ariel Ramirez" value="Ariel Ramirez"/>
          <label for="socios_curso_Ariel Ramirez">Ariel Ramirez</label>
          <input type="checkbox" id="socios_curso_Jorge Ibañez" name="Jorge Ibañez" value="Jorge Ibañez"/>
          <label for="socios_curso_Jorge Ibañez">Jorge Ibañez</label>
        </p>
        <hr>
        <h3>05. Finalización de la reunión del consejo de administración</h3>
        <p>
          <label for="hora_inicio">Hora de cierre</label>
          <input type="date" id="hora_inicio" name="hora_inicio"/>
        </p>
        <button>Finalizar</button><a href="{% url 'index' %}" class="volver">volver</a>
        <p><a href="#" class="descargar">Descargar acta</a></p>
      </form>
    </div>
  </div>
</section>
{% endblock %}