{% extends "mi_cooperativa/base.html" %}
{% block inter %}

<section id="form_formacion">
  <div class="content">
    <div class="help">
      <div class="box box-formacion active">
        <h5>Formación</h5>
        <h6>Curso de cooperativismo.</h6><p>Todos los miembros fundadores
deben realizar el curso presencial.</p>
<p>consulta las sedes y registra la 
fecha de relización.</p>
<p><a href="http://www.inaes.com.ar">Más información</a> </p>
<p><a href="http://www.inaes.com.ar">Sedes</a> </p>

      </div>
    </div>
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th>Socios</th>
            <th>Fecha del curso</th>
            <th>¿Asistió?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ariel Federico Asus</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Ariel Ramirez</td>
            <td>20.08.2014</td>
            <td>Si</td>
          </tr>
          <tr>
            <td>Jorge Ibañez</td>
            <td>20.08.2014</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
      <form action="{% url 'index' %}">
        <h3>Invitación a curso</h3>
        <p>
          <label for="fecha_asistencia">Fecha de asistencia</label>
          <input type="date" id="fecha_asistencia" name="fecha_asistencia"/>
        </p>
        <p>
          <label for="curso_sede">Sede</label>
          <input type="text" id="curso_sede" name="curso_sede"/>
        </p>
        <h4>Socios que deberán asistir</h4>
        <p>
          <input type="checkbox" id="socios_curso_Ariel Federico Asus" name="Ariel Federico Asus" value="Ariel Federico Asus"/>
          <label for="socios_curso_Ariel Federico Asus">Ariel Federico Asus</label>
          <input type="checkbox" id="socios_curso_Ariel Ramirez" name="Ariel Ramirez" value="Ariel Ramirez"/>
          <label for="socios_curso_Ariel Ramirez">Ariel Ramirez</label>
          <input type="checkbox" id="socios_curso_Jorge Ibañez" name="Jorge Ibañez" value="Jorge Ibañez"/>
          <label for="socios_curso_Jorge Ibañez">Jorge Ibañez</label>
        </p>
        <button>Agregar socio</button><a href="{% url 'index' %}" class="volver">volver</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}