{% extends "base.html" %}

{% block content %}
<section id="profile">
	<div class="content">
		<div class="help">
		    <h2>Mis cooperativas</h2>
		    <p>Puedes realizar la gestión de varias cooperativas de las que formas parte.</p>
		</div>
		<div class="panel">
		    {% if cooperatives %}
		        <ul class="cooperatives-list">
		        {% for cooperative in cooperatives %}
		            <li>
		            	<a href="/mi_cooperativa/{{ cooperative.id }}/">
			            	<h5>{{ cooperative.nombre }}</h5>
			            	<p>{{ cooperative.descripcion }}</p>
		            	</a>
		            </li>
		        {% endfor %}
		        </ul>
		        <p><a href="/mi_cooperativa/crear/">Crear una nueva cooperativa</a>.</p>

		    {% else %}
		        <p><a href="/mi_cooperativa/crear/">Crear mi primer cooperativa</a>.</p>
		    {% endif %}
	    </div>
	</div>
</section>
{% endblock %}