{% extends "mi_cooperativa/base.html" %}
{% block inter %}

<section id="form_lugar">
  <div class="content">
    <div class="help">
      <div class="box box-lugar active">
        <h5>Lugar</h5>
        <h6>Ubicación de la sede</h6><p>Esta es la dirección legal de la cooperativa.
Es recomendado que las asambleas y reuniones se realicen
en este lugar y es necesario poder certificar este domicilio.</p>
<p><a href="http://www.inaes.com.ar">Más información</a> </p>

      </div>
    </div>
    <div class="panel">
      <form action="{% url 'lugar' cooperative_id=cooperative.id %}" method="post">
        {% csrf_token %}
        <h3>Datos de la sede</h3>
        <p>
          <label for="direccion">Dirección</label>
          {{ form.direccion }}
        </p>
        
        <div class="col-2">
          <p>
            <label for="localidad">Localidad</label>
            {{ form.localidad }}
          </p>
          <p>
            <label for="provincia">Provincia</label>
            {{ form.provincia }}
          </p>
        </div>
        <div class="col-2">
          <p>
            <label for="codigo_postal">Código postal</label>
            {{ form.codigo_postal }}
          </p>
        </div>
        <button>Guardar</button><a href="{% url 'detail' cooperative_id=cooperative.id %}" class="volver">volver</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}