{% extends "mi_cooperativa/base.html" %}
{% block inter %}
<section id="form_miembros">
  <div class="content">
    <div class="help">
      <div class="box box-miembros active">
        <h5>+6</h5>
        <h6>Para armar una cooperativa, se necestan al menos, 6 socios.</h6><p>Las cooperativas de trabajo necestan 
un mínimo de 6 miembros. 
Esto es porque es necesario cubrir 
los cargos del consejo de administración
y el de sindico.
En una cooperativa de 6 miembros, 
los cargos a distribuir serían:
Presidente, secretario, tesorero, 
sindico, sindico suplente y socio.</p>
<p><a href="http://www.inaes.com.ar">Más información</a> </p>

      </div>
    </div>
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th>Socios</th>
            <th>Correo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for partner in partners %}
          <tr>
            <td>{{ partner.apellido }}, {{ partner.nombre }}</td>
            <td class="mail"><span>{{ partner.correo_electronico }}</span></td>
            <td><a href="{{ partner.pk }}" class="editar"></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form action="{% url 'miembros' cooperative_id=cooperative.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="cooperative" value="{{ cooperative.id }}">
{% for field in form %}
    <div class="fieldWrapper">
        
        {{ field.label_tag }} {{ field.errors }}
    </div>
{% endfor %}

        <h3>Nuevo socio</h3>
        <p>
          <label for="email">Correo electrónico</label>
          {{ form.correo_electronico }}
        </p>
        <div class="col-2">
          <p>
            <label for="nombre">Nombre</label>
            {{ form.nombre }}
          </p>
          <p>
            <label for="apellido">Apellido</label>
            {{ form.apellido }}
          </p>
        </div>
        <div class="col-2">
          <p>
            <label for="direccion">Dirección</label>
            {{ form.direccion }}
          </p>
          <p>
            <label for="localidad">Localidad</label>
            {{ form.localidad }}
          </p>
        </div>
        <div class="col-2">
          <p>
            <label for="dni">DNI</label>
            {{ form.dni }}
          </p>
          <p>
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            {{ form.fecha_de_nacimiento }}
          </p>
        </div>
        <button>Agregar socio</button><a href="{% url 'detail' cooperative_id=cooperative.id %}" class="volver">volver</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}