{% extends "mi_cooperativa/base.html" %}
{% block inter %}

<section id="form_nombre">
  <div class="content">
    <div class="help">
      <div class="box box-nombre active">
        <h5>Nombre</h5>
        <h6>Nombre de uso comercial</h6><p>En su nombre, todas las cooperativas llevan el prefijo
&quot;cooperativa de trabajo&quot; y el sufijo  &quot;limitada&quot;</p>
<p><a href="http://www.inaes.com.ar">Más información</a> </p>

      </div>
    </div>
    <div class="panel">
      <form action="{% url 'index' %}">
        <h3>Nombre comercial</h3>
        <p>"Cooperativa de trabajo"
          <input type="text" id="nombre" name="nombre">"limitada".
        </p>
        <p>
          <label for="descripcion">Descripción corta</label>
          <textarea id="descripcion" name="descripcion"></textarea>
        </p>
        <button>Guardar</button><a href="{% url 'index' %}" class="volver">volver</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}