{% extends "mi_cooperativa/base.html" %}
{% block inter %}
<section id="form_tramite">
  <div class="content">
    <div class="help boxes-inaes">
      <div class="box box-tramite active">
        <h5>Estado del trámite ante el Inaes</h5>
        <h6>Situación legal</h6><p>En este mismo acto, se realiza la Asamblea
Constitutiva y el estatuto de la cooperadora.</p>
<p>Es necesario que se encuentren todos los socios.</p>
<p>Al finalizar la asamblea, se debe imprimir y firmar por 
todos los socios.</p>
<p><a href="http://www.inaes.com.ar">Más información</a> </p>

      </div>
    </div>
    <div class="panel">
      <form action="{% url 'index' %}">
        <h3>Documentación</h3>
        <p>
          <label for="mesa_entrada">Fecha de presentación por mesa de entrada</label>
          <input type="date" id="mesa_entrada" name="mesa_entrada"/>
        </p>
        <p>
          <label for="exp">Número de expediente</label>
          <input type="number" id="exp" name="exp"/>
        </p>
        <p>
          <label for="matricula">Número de matricula</label>
          <input type="number" id="matricula" name="matricula"/>
        </p>
        <p>
          <label for="cuit">CUIT</label>
          <input type="number" id="cuit" name="cuit"/>
        </p>
        <button>Guardar</button><a href="{% url 'index' %}" class="volver">volver</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}