<div class="content">
  <div class="help">
    <h2>Mi cooperativa</h2><p>Para completar la documentación 
solicitada por el <strong>Inaes</strong> debes
completar los siguientes módulos.</p>

  </div>
  <div class="karma">
    <h3>Estado del trámite de inscripción</h3><p>El árbol del cooperativismo necesita ser regado.
Para lograr tener la matriculo de tu cooperativa, será necesario 
que completes todos los pasos para una inscripción exitosa.</p>

    <div class="gotas">
      <div class="gota active"></div>
      <div class="gota active"></div>
      <div class="gota active"></div>
      <div class="gota"></div>
      <div class="gota"></div>
      <div class="gota"></div>
      <div class="gota"></div>
      <div class="gota"></div>
      <div class="gota"></div>
      <div class="gota"></div>
    </div>
  </div>
</div>