{% extends "base.html" %}
{% block content %}

  <section id="home-top">
    <div class="content">
      <h2>logo</h2>
      <h3>¿Querés trabajar con un grupo de amigos?</h3>
      <p>Vos también podés formar parte de una cooperativa</p><a id="empezar" href="#empezar" class="btn">empezar</a>
    </div>
  </section>
  <section id="home-empezar">
    <div class="content">
      <h3>Por donde empezar</h3>
      <h4>
        Una cooperativa de trabajo es una empresa democrática 
        donde todos sus miembros tienen derecho a decidir 
        sobre el rumbo de la misma.
      </h4>
      <div class="boxes">
        <div class="box box-miembros">
          <h5>+6</h5>
          <p>Para armar una cooperativa, se necestan al menos, 6 socios.</p>
        </div>
        <div class="box box-objetivo">
          <h5>Objetivo</h5>
          <p>Estar de acuerdo en que tarea van a realizar.</p>
        </div>
        <div class="box box-lugar">
          <h5>Lugar</h5>
          <p>Tener una sede donde funcionar.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="home-experiencia">
    <div class="content">
      <h3>
        Mirá algunas de las experiencias de quienes 
        entendieron que juntos podían vivir mejor
      </h3>
      <div class="video"><iframe width="560" height="240" src="//www.youtube.com/embed/aBMYj51dSS0?rel=0" frameborder="0" allowfullscreen></iframe></div>
      <p>
        La Patria Emprendedora es una serie de 8 documentales para televisión que 
        recorre experiencias económicas asociativas en diversos escenarios del 
        territorio argentino; buscando describir las emergentes y exitosas estrategias 
        de producción, intercambio y desarrollo que le permitieron a las comunidades vivir 
        dignamente. El Colectivo de cooperativas, emprendimientos, organizaciones y empresas 
        recuperadas son los protagonistas de La Patria.
      </p>
    </div>
  </section>
  <section id="home-registrate">
    <div class="content"><a href="/accounts/signup/" class="btn">Registráte</a>
      <h3>¿Querés formar una cooperativa?</h3>
      <p>
        Para que tu cooperativa sea legal, debés registrarla en el Inaes.
        Registráte para poder iniciar el tramite paso a paso y sin errores.
      </p>
    </div>
  </section>
{% endblock %}